# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Minimal Installation Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          cp .ci_support/environment.yml environment.yml
          sed -i '/defusedxml/d' environment.yml
          sed -i '/paramiko/d' environment.yml
          sed -i '/tqdm/d' environment.yml
      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.11'
          miniforge-variant: Mambaforge
          channels: conda-forge
          channel-priority: strict
          activate-environment: my-env
          environment-file: environment.yml
          use-mamba: true
      - name: Test
        shell: bash -l {0}
        run: |
          pip install --no-deps .
          python -m unittest discover tests
